{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><a href="{{url_for('index')}}">Home</a></li>
                <li><a href="{{url_for('coexpression')}}">TF co-expression modules</a></li>
                <li class="active">TFs in each module</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2 class="tissue-title"></h2>
        </div>
    </div>
</div>
<div class="container">
    <table class="TFlist-table table-bordered table-condensed table-hover">
        <thead class="tablehead">
            <tr>
                <th width="10%">Module number</th>
                <th width="2%">TF number</th>
                <th width="">specificity(z score>1.645)</th>
                <th >TFlist</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>module2</td>
                <td>5</td>
                <td>Thyroid</td>
                <td>Creb3l1,Irf3,Smad5,Irf6,Nr3c2</td>
            </tr>
            <tr>
                <td>module12</td>
                <td>5</td>
                <td>Liver,Kidney</td>
                <td>Hnf1b,Hnf1a,Zfp655,Hnf4a,Nr1h4</td>
            </tr>
            <tr>
                <td>module10</td>
                <td>5</td>
                <td>Thymus,small_intestine</td>
                <td>Myb,Zfp592,Klf3,E2f2,Ezh2</td>
            </tr>
            <tr>
                <td>module13</td>
                <td>7</td>
                <td>small_intestine,Colon</td>
                <td>Creb3l3,Nkx2-3,Hoxc5,Ahr,Gata5,Hnf4g,Cdx2</td>
            </tr>
            <tr>
                <td>module15</td>
                <td>5</td>
                <td>BAT,Liver</td>
                <td>Zscan22,Epas1,Nr1h3,Nfil3,Srebf1</td>
            </tr>
            <tr>
                <td>module26</td>
                <td>8</td>
                <td></td>
                <td>Pparg,Tbx3,Tbx2,Tcf7l1,Rfx2,Hmg20b,Foxo4,Meox1</td>
            </tr>
            <tr>
                <td>module14</td>
                <td>6</td>
                <td>Pancreas,Stomach</td>
                <td>Onecut1,Foxa2,Foxa3,Zscan18,Pdx1,Tsc22d3</td>
            </tr>
            <tr>
                <td>module11</td>
                <td>5</td>
                <td>Blood</td>
                <td>Cebpe,Foxp3,Klf2,Tsc22d4,Stat2</td>
            </tr>
            <tr>
                <td>module9</td>
                <td>10</td>
                <td>Thymus</td>
                <td>Zfpm1,Cebpz,Zfp800,Zfx,Noc3l,Zfp266,Zfp771,Zbtb7a,Ctcf,Fiz1</td>
            </tr>
            <tr>
                <td>module20</td>
                <td>6</td>
                <td>Thymus,Spleen</td>
                <td>Klf13,Zfp553,Ikzf2,Zfp668,Zbtb11,Zfp672</td>
            </tr>
            <tr>
                <td>module19</td>
                <td>5</td>
                <td></td>
                <td>Ubtf,Vezf1,Zfp384,Prdm10,Zfp148</td>
            </tr>
            <tr>
                <td>module3</td>
                <td>11</td>
                <td>Thyroid</td>
                <td>Runx3,Ets1,Runx1,Irf8,Ikzf1,Ikzf3,Runx2,Cbfb,Relb,Nfkb2,Tbx21</td>
            </tr>
            <tr>
                <td>module24</td>
                <td>10</td>
                <td></td>
                <td>Nfatc1,Nfkb1,Nfatc3,Fli1,Elk3,Elk4,Pou2f1,Six1,Nr4a1,Nfatc2</td>
            </tr>
            <tr>
                <td>module16</td>
                <td>12</td>
                <td>Testis,Thymus</td>
                <td>Stat4,Bbx,E2f1,Arid3a,Foxn2,Tgif1,Zfp219,Zfp451,Hivep1,Tcf7,Etv3,Sp2</td>
            </tr>
            <tr>
                <td>module17</td>
                <td>6</td>
                <td></td>
                <td>Rara,Ppard,Foxn3,Rbl1,Hand2,Vdr</td>
            </tr>
            <tr>
                <td>module7</td>
                <td>10</td>
                <td>Spinal.cord,Kidney</td>
                <td>Hoxb8,Hoxb6,Hoxa7,Hoxb9,Hoxb7,Zkscan1,Hoxd8,Hoxd9,Nkx6-1,Pou3f3</td>
            </tr>
            <tr>
                <td>module8</td>
                <td>7</td>
                <td>Adrenal.gland</td>
                <td>Hoxb5,Hoxb4,Hoxa5,Hoxc8,Hoxc6,Hoxc4,Ebf3</td>
            </tr>
            <tr>
                <td>module4</td>
                <td>5</td>
                <td>Thyroid,Eye</td>
                <td>Dach2,Tshz2,Tfap2a,Tfap2c,Ar</td>
            </tr>
            <tr>
                <td>module22</td>
                <td>15</td>
                <td></td>
                <td>Hmgb2,Rreb1,Baz2b,Nr3c1,Tfdp2,E2f3,Tbp,Mxd4,Zhx2,Drap1,Yy1,Irf2,Rb1,Arid1a,Gatad2a</td>
            </tr>
            <tr>
                <td>module21</td>
                <td>24</td>
                <td></td>
                <td>Dr1,Rxra,Rxrb,Tcf7l2,Nr2f6,Nr2f2,Nfia,Nfib,Nfic,Nfix,Clock,Arntl,Zfhx3,Nfat5,Mef2d,Zbtb20,Elk1,Meis2,Meis1,Pbx3,Pbx1,Rxrg,Rarg,Pbx2</td>
            </tr>
            <tr>
                <td>module23</td>
                <td>11</td>
                <td>Thyroid</td>
                <td>Pknox2,Nrf1,Max,Mef2c,Foxk1,Rbpj,Gabpa,Foxj3,Hmgb3,E2f4,Rbl2</td>
            </tr>
            <tr>
                <td>module1</td>
                <td>6</td>
                <td>Skin,Tongue</td>
                <td>Sox21,Pou2f3,Dlx3,Myf6,Pitx2,Twist1</td>
            </tr>
            <tr>
                <td>module18</td>
                <td>7</td>
                <td>Eye,Thymus</td>
                <td>Elf1,Hif1a,Klf12,Egr1,Zbtb2,Vax2,Bhlhe41</td>
            </tr>
            <tr>
                <td>module27</td>
                <td>5</td>
                <td>Eye</td>
                <td>Tfeb,Foxp1,Tox4,Nr2c2,Elf2</td>
            </tr>
            <tr>
                <td>module28</td>
                <td>15</td>
                <td></td>
                <td>Creb1,Tfe3,Rora,Cebpg,Jund,Deaf1,Atf1,Usf2,Cux1,E2f6,Tcf12,Nfyb,Nfyc,Nfya,Usf1</td>
            </tr>
            <tr>
                <td>module29</td>
                <td>17</td>
                <td></td>
                <td>Esrrg,Arnt,Thra,Foxk2,Mlx,Esrra,Rfx1,Mef2a,Srf,Erg,Tead3,Tead1,Nr2c1,Tcf4,Sox13,Pknox1,Mnt</td>
            </tr>
            <tr>
                <td>module25</td>
                <td>8</td>
                <td></td>
                <td>Tcf15,Tead4,Jun,Sox17,Meox2,Twist2,Aebp1,Prrx1</td>
            </tr>
            <tr>
                <td>module36</td>
                <td>7</td>
                <td>Eye</td>
                <td>Arid1b,Sall1,Esrrb,Tfap2b,Dach1,Foxc2,Foxc1</td>
            </tr>
            <tr>
                <td>module5</td>
                <td>5</td>
                <td>Brain</td>
                <td>Tead2,Bach1,Notch3,Fosl2,Dlx5</td>
            </tr>
            <tr>
                <td>module6</td>
                <td>6</td>
                <td>Brain,Thymus</td>
                <td>Satb2,Bcl11a,Sox4,Bcl11b,Egr3,Myc</td>
            </tr>
            <tr>
                <td>module30</td>
                <td>12</td>
                <td>Eye</td>
                <td>Fos,Alx4,Otx2,Crx,Foxl2,Otx1,Isl1,Pax6,Tef,Dbp,Pou3f2,Hmgn3</td>
            </tr>
            <tr>
                <td>module31</td>
                <td>7</td>
                <td>Eye,Brain,Spinal.cord</td>
                <td>Nkx2-2,Arnt2,Bhlhe22,Sall2,Npas3,Sox2,Prox1</td>
            </tr>
            <tr>
                <td>module32</td>
                <td>6</td>
                <td>Testis,Brain</td>
                <td>Zfp462,Tgif2,Foxo6,Sox8,Tox2,Zfp608</td>
            </tr>
            <tr>
                <td>module34</td>
                <td>8</td>
                <td></td>
                <td>Tfam,Ubp1,Tfcp2,Ep400,Chd7,Hmga1,Arid2,Hmga1-rs1</td>
            </tr>
            <tr>
                <td>module35</td>
                <td>23</td>
                <td></td>
                <td>Skil,Mta3,Mta2,Gatad1,Tada2b,Yeats4,0610010K14Rik,Smarcc1,Hmg20a,Mta1,Dmap1,Gatad2b,Mga,Zzz3,Zfp609,Zfp821,Adnp,Bptf,Pou3f1,Nr1d2,Cux2,Tcf20,Cic</td>
            </tr>
            <tr>
                <td>module37</td>
                <td>16</td>
                <td>Thymus</td>
                <td>Ezh1,Znf512b,Prr12,Terf2,Terf2ip,Ski,Wiz,Tcf3,Zfp644,Zeb2,Maz,Junb,Patz1,Trerf1,Satb1,Lef1</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
    